@use 'sass:list';
@use 'sass:meta';

@function map($array, $function) {
  $ret: if(list.is-bracketed($array), [], ());
  $sep: list.separator($array);

  @each $item in $array {
    $result: meta.call($function, $item);
    $ret: list.append($ret, $result, $separator: $sep);
  }

  @return $ret;
}
